@model Instructore

@{
    ViewData["Title"] = "Details";
}

<h2>
    Instructore Details
</h2>

<h3>ID: @Model.Id</h3>
<h3>Name: @Model.Name</h3>
<h3>Address: @Model.Address</h3>
<h3>
    <img src="/Images/Instructores/@Model.ImageUrl" alt="@Model.Name picture" style="width: 75px" />
    </h3>
<h3 >Department: @Model.Department.Name</h3a>
<h3>Course: @Model.Course.Name</h3>